.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 100%;
  padding-top: 15%;
  position: relative;
  margin-right: auto;
  margin-left: auto;
}
.about-header {
  position: absolute;
  font-size: 17rem;
  z-index: 0;
  color: #ffffff;
  font-family: "Anton", sans-serif;
  letter-spacing: -3px;
  text-shadow: -6px -6px 0 black, 6px -6px 0 black, -6px 6px 0 black,
    6px 6px 0 black, -6px 0px 0 black, 6px 0px 0 black, 0px -6px 0 black,
    0px 6px 0 black;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
  width: 90%;
  max-width: 100rem;
  row-gap: 4em;
  justify-content: center;
}
.grid-item {
  background-color: white;
  padding: 32px;
  padding-top: 10px;
  width: fit-content;
  border-radius: 9px;
  text-align: center;
  border: 1px solid black;
  animation: neonGlow 2s infinite alternate;
  height: fit-content;
}
.grid-item:nth-child(1) {
  grid-column: 1/2;
  grid-row: 1;
  justify-self: end;
}
.grid-item:nth-child(2) {
  grid-column: 2/2;
  grid-row: 2;
}
.grid-item:nth-child(3) {
  grid-column: 1/2;
  justify-self: end;
  grid-row: 3;
}

.about-header {
  position: absolute;
}

@keyframes neonGlow {
  0% {
    box-shadow: 0 0 20px #ff60bf, 0 0 60px #ff60bf;
  }
  50% {
    box-shadow: 0 0 30px #ff60bf, 0 0 90px #ff60bf;
  }
  100% {
    box-shadow: 0 0 20px #ff60bf, 0 0 60px #ff60bf;
  }
}
