* {
  padding: 0;
  margin: 0px;
}

.modal {
  position: absolute;
  top: -10%;
  right: -10%;
  left: -10%;
  bottom: -10%;
  background-color: rgb(255, 255, 255);
  box-shadow: 4px 8px 8px hsl(0deg 0% 0% / 0.38);
  border-radius: 25px;
  animation: openModalClick 0.8s ease forwards;
}

.stackUsedImgList {
  position: relative;
  left: 2rem;
  list-style: none;
  display: inline;
  float: left;
  top: 24.5rem;
  margin-right: 1rem;
}

.stackUsedImg {
  border: 2px solid black;
  border-radius: 25px;
  width: 2.5rem;
  height: 2.5rem;
  box-shadow: 0 0 1px 0px black inset, 0 0 1px 0px white;
}
.stackUsedImg:hover {
  transform: scale(1.5);
  border: 2px solid black;
  border-radius: 25px;
  width: 2.5rem;
  height: 2.5rem;
  box-shadow: 0 0 1px 0px black inset, 0 0 1px 0px white;
}
.header {
  position: absolute;
  left: 1rem;
  display: inline;
  z-index: 1;
  color: aqua;
}
.closeButton {
  opacity: 0.5;
  background: none;
  border: none;
  position: absolute;
  font-size: 2rem;
  color: #ccc;
  top: 0;
  right: 20px;
  cursor: pointer;
}

@keyframes openModalClick {
  from {
    opacity: 0;
    transform: scale(0.4);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.closeButton:hover {
  opacity: 1;
}
.projectImage {
  display: block;
  position: absolute;
  width: 100%;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  height: 60%;
}
#projectDescription {
  position: absolute;
  width: 100%;
  height: 25%;
  top: 17.5rem;
  font-size: 1rem;
}
#stackUsed {
  position: absolute;
  bottom: 1rem;
  left: 0.5rem;
  font-size: 1rem;
}
