* {
  padding: 0;
  margin: 0px;
}
#projectsHeader {
  position: relative;
  right: 24rem;
  font-size: 4rem;
  font-style: italic;
  font-family: cursive;
  letter-spacing: -7px;
}

.Projects {
  position: relative;
  margin-top: 20rem;
  margin-left: 10rem;
  display: grid;
  list-style: none;
  justify-content: space-evenly;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20%;
}

.ProjectsShowcase {
  position: relative;
  text-align: center;
  border-radius: 25px;
  width: 270px;
  height: 40vh;
  box-shadow: 5px 8px 8px hsl(0deg 0% 0% / 0.38);
}
.active {
  position: relative;
  text-align: center;
  border-radius: 25px;
  width: 270px;
  height: 40vh;
  box-shadow: 4px 8px 8px hsl(0deg 0% 0% / 0.38);
  transform: scale(1.02);
}

.ProjectLiveVersionButton {
  opacity: 0.75;
  background-color: rgb(24, 60, 96);
  border: none;
  color: white;
  padding: 5px 10px 5px 10px;
  text-align: center;
  font-size: 0.8rem;
  border-radius: 25px;
  position: absolute;
  bottom: 1rem;
  left: 1.7rem;
  cursor: pointer;
  width: 6rem;
}

.ProjectCodeButton {
  opacity: 0.75;
  background-color: rgb(24, 60, 96);
  border: none;
  color: white;
  padding: 5px 10px 5px 10px;
  text-align: center;
  font-size: 0.8rem;
  border-radius: 25px;
  position: absolute;
  bottom: 1rem;
  right: 1.7rem;
  cursor: pointer;
  width: 6rem;
}
.ProjectImage {
  display: flex;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.ProjectLiveVersionButton:disabled {
  opacity: 0.6;
  background-color: grey;
  cursor: not-allowed;
}
.ProjectLiveVersionButton:hover,
.ProjectCodeButton:hover {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  transform: scale(1.2);
  opacity: 1;
}

.ProjectsShowcase:hover {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  transform: scale(1.05);
}
.ProjectsShowcase:not(:hover) {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  transform: scale(1);
}
.ProjectLiveVersionButton:not(:hover),
.ProjectCodeButton:not(:hover) {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  transform: scale(1);
  opacity: 1;
}

@media only screen and (max-width: 1630px) {
  .Projects {
    grid-template-columns: 1fr 1fr;
  }
  #projectsHeader {
    right: 7.5rem;
  }
}

@media (max-width: 1000px) {
  .Projects {
    position: static;
    margin: 0 auto;
    grid-template-columns: 1fr;
  }
  #projectsHeader {
    position: static;
    margin: 0 auto;
    margin-bottom: 10rem;
  }
}
@media (max-width: 700px) {
  #projectsHeader {
    left: 10rem;
  }
}
@media (max-width: 600px) {
  #projectsHeader {
    left: 4rem;
    font-size: 4rem;
  }
}
