.Projects {
  margin-top: 300px;
  display: grid;
  list-style: none;
  justify-content: space-evenly;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20%;
  padding-left: 10%;
}

.ProjectsShowcase {
  text-align: center;
  width: 270px;
  height: 40vh;
}
.active {
  text-align: center;
  width: 270px;
  height: 40vh;
}

.ProjectLiveVersionButton {
  opacity: 0.75;
  background-color: rgb(24, 60, 96);
  border: none;
  color: white;
  padding: 3px 10px 3px 10px;
  text-align: center;
  font-size: 1.5vh;
  border-radius: 25px;
  position: relative;
  bottom: 9%;
  right: 3%;
  cursor: pointer;
  width: 100px;
}

.ProjectCodeButton {
  opacity: 0.75;
  background-color: rgb(24, 60, 96);
  border: none;
  color: white;
  padding: 3px 10px 3px 10px;

  text-align: center;
  font-size: 1.5vh;
  border-radius: 25px;
  position: relative;
  bottom: 9%;
  left: 3%;
  cursor: pointer;
  width: 100px;
}
.ProjectImage {
  opacity: 0.89;
  display: flex;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.ProjectLiveVersionButton:disabled {
  opacity: 0.6;
  background-color: grey;
  cursor: not-allowed;
}
.ProjectLiveVersionButton:hover,
.ProjectCodeButton:hover {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  transform: scale(1.1);
  opacity: 1;
}

.ProjectsShowcase:hover {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  transform: scale(1.1);
}
.ProjectsShowcase:not(:hover) {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  transform: scale(1);
}

@media only screen and (max-width: 1630px) {
  .Projects {
    margin-top: 300px;
    display: grid;
    list-style: none;
    justify-content: space-evenly;
    grid-template-columns: 1fr 1fr;
    gap: 20%;
    margin-left: 10%;
  }
}

@media screen and (max-width: 1000px) {
  .Projects {
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
  }
}
