.navigation {
  position: fixed;
  background-color: black;
  opacity: 0.9;
  right: 0px;
  top: 0px;
  width: 100%;
  height: 100vh;
  z-index: 1;
}
.hamburgerIcon {
  position: fixed;
  top: 0.5rem;
  right: 0.5rem;
  display: flex;
  width: 3rem;
  height: 3rem;
  color: rgb(150, 149, 149);
  z-index: 1;
}
.closeMobileNav {
  position: fixed;
  top: 1rem;
  right: 1rem;
  display: flex;
  width: 2rem;
  height: 2rem;
  color: rgb(150, 149, 149);
  z-index: 1;
}
.navigation .row {
  justify-content: center;
  height: 100vh;
  position: relative;
  top: 25%;
  width: 100%;
  height: 10%;
  align-items: right;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  color: #ccc;
  font-size: 300%;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
